.idea
url_user_sentiment_list.csv
AdithyaDataAnalytics-85bb9bb05539.json
Utility.py
url_count_content_descending - original.csv
url-sentiment-analysis/archive
email_emp_df
new_email_emp_df
new_email_emp_df.csv
it_admin_email_content.csv
it_admin_email_category.csv
.ipynb_checkpoints/
dataset/
